extends layout

block content
  if data instanceof Error
    h1 No Users Found
  else
    for user in data
      h1
        a(href=`/user/${user.email}`)
          ul #{user.firstName}, #{user.lastName} 