extends layout

block content
  if data instanceof Error
    h1 No Users Found
  else
    for user in data
      ul
        li
          h1 
            a(href=`/user/${user.email}`) #{user.firstName}, #{user.lastName} 