body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: azure;
}

a {
  color: #00b7ff;
}

h1.title {
  padding: 20px;
  font: 5em "Times New Roman", Helvetica, Arial, sans-serif;
  color: darkblue;
}
